<h2>FakeyBlog</h2>

<div *ngIf="!isEditingContent" [innerHTML]="content2"></div>
<editor *ngIf="isEditingContent" plugins="link table" [(ngModel)]="content2"></editor>

<p>
  <button (click)="editContent()" [innerText]="isEditingContent ? 'save' : 'edit'"></button>
</p>

<textarea [(ngModel)]="content2" id="" cols="30" rows="10"></textarea>

<div [hidden]="submitted">
  <form (ngSubmit)="onSubmit()" #blogForm="ngForm">
    <div>
      <label for="title">Title:</label>
      <input type="text" id="title" [(ngModel)]="model.title" required name="title" #title="ngModel">
      <div [hidden]="title.valid || title.untouched">
        Title is required
      </div>
    </div>
    <div>
        <editor
          apiKey="test"
          [(ngModel)]="model.content"
          name="content"
          #content="ngModel"
          plugins="link"
          required
        ></editor>
        <div [hidden]="content.valid || content.untouched">
          Content is required
        </div>
    </div>
    <div [hidden]="!blogForm.valid">
      Form is valid
    </div>
    <div [hidden]="blogForm.valid">
      Form is invalid
    </div>
    <div>
        <button type="submit" [disabled]="!blogForm.form.valid">Submit</button>
    </div>

  </form>
</div>

<div [hidden]="!submitted">
  <h2>You submitted this:</h2>
  <h3>Title: {{model.title}}</h3>
  <p><strong>Content:</strong></p>
  <div [innerHTML]="model.content"></div>

  <div>Raw: {{model | json}}</div>

  <div>
    <button (click)="onSubmit()">Edit</button>
  </div>
</div>

